* {
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.main-content {
    width: 100%;
    min-height: 100vh;
    background-image: url(./assets/back2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #f8f5f5;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-container {
    width: 35%;
    height: 80vh;
    margin-left: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.link-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 10%;
}

.link-list a {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #C4C0C0;
    font-weight: bolder;
}

#sign-up-link {
    color: #93137A;
}

form {
    height: 60%;
    width: 80%;
    position: relative;
}

input {
    width: 100%;
    height: 6.5vh;
    border-radius: 15px;
    border: 1px solid #707070;
    border-bottom: 2px solid #93137A;
    border-right: 2px solid #93137A;
    background-color: white;
    margin-top: 8%;
    padding-left: 40px;
    font-size: 15px;
}

#username {
    margin-top: 0%;
}

#password {
    margin-bottom: 5%;
}

.submit-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6.5vh;
}

.submit-area a {
    color: #93137A;
    font-size: 20px;
}

#submit-button {
    background-color: #550A46;
    color: white;
    font-size: 20px;
    width: 50%;
    padding: 0px;
    cursor: pointer;
    height: 70%;
    margin-top: 0%;
}

#submit-button:hover {
    background-color: #93137A;
}

.input-container i {
    position: absolute;
}

.fa-envelope {
    top: 50%;
}

.fa-unlock-alt {
    top: 41%;
}

.input-container {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.icon {
    min-width: 50px;
    text-align: center;
    z-index: 1;
    padding: 10px;
}