* {
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.main {
    width: 100%;
    min-height: 100vh;
    background-image: url(./assets/back3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #f8f5f5;
    margin: 0px;
}

nav {
    width: 100%;
    height: 5vh;
    position: relative;
}

.burger-menu {
    position: absolute;
    right: 5%;
    top: 10px;
}

.line1,
.line2,
.line3 {
    width: 25px;
    height: 4px;
    background-color: #550A46;
    margin-bottom: 5px;
    /*transition: all 0.3s ease-in;*/
}

.main-content {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-content__text {
    width: 50%;
    height: 25%;
    background-color: #FFFFFF;
    border: 0.5px solid lightgrey;
    border-right: 3px solid #B03B99;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-content__text p {
    width: 70%;
}

.main-content__text:nth-child(1) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 0.5px solid #B03B99;
}

.main-content__text:nth-child(3) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 0.5px solid #B03B99;
    border-bottom: 3px solid #B03B99;
}

.fa.fa-graduation-cap,
.fa.fa-pencil,
.fa.fa-check-circle {
    font-size: 70px;
    color: #550A46;
}


/*Drop down menu*/

.drop-content {
    position: absolute;
    background-color: #550A46;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
    top: 40px;
    right: 20px;
    display: none;
}

.drop-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {
    background-color: #B03B99
}

.avatar-dropmenu:hover .drop-content {
    display: block;
}