
.content {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.buttons-controller{
    position: absolute;
    margin-top: -5rem;
}

.pone-container {
    margin-top: 5%;
    display: flex;
    height: 60%;
    width: 60%;
    background-color: white;
    border-radius: 2.2rem;
    margin-bottom: 5%;
    position: relative;
}

.pone-container > #glCanvas {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
}

.pone-container > #text {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 69420;
}

.user-input {
    margin-bottom: 5%;
    height: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-input-row {
    margin-top: 2rem;
    color: #550a46;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#plain-text-expression{
    margin-top: 1rem;
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
    padding: 1rem 2.8rem 1rem 2.8rem;
    border-radius: 2.2rem;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    line-height: 1.5;
    transition: opacity 0.2s linear;
    color: #393939;
}

#plain-text-expression:focus{
    background-color: #ffffff;
    outline: none;
}

#animate-button{
    margin-top: 1rem;
    font-size: 16px;
    padding: 1rem 2.8rem 1rem 2.8rem;
    border-radius: 2.2rem;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    line-height: 1.5;
    text-transform: uppercase;
    transition: opacity 0.2s linear;
    background-color: #550a46;
    border: none;
    color: #ffffff;
}

#animate-button:focus{
    outline: none;
}

#animate-button:hover {
    opacity: .8;
}

.animate-button-color{
    margin-right: 1rem;
    font-size: 16px;
    padding: 1rem 2.8rem 1rem 2.8rem;
    border-radius: 2.2rem;
    display: inline-block;
    text-decoration: none;
    line-height: 1.5;
    text-transform: uppercase;
    transition: opacity 0.2s linear;
    background-color: #550a46;
    border: none;
    color: #ffffff;
}

.animate-button-color:focus{
    outline: none;
}

.animate-button-color:hover {
    opacity: .8;
}


#upload-file {
    display: none;
}

#upload-file + label {
    margin-top: 1rem;
    font-weight: bold;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

#upload-file + label:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .main {
        background-repeat: no-repeat;
        background-image: url(./assets/phone.jpg);
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: space-around;

    }
    .pone-container{
        width: 100%;
        height: 100%;
        margin-top: 20%;
    }
    .hide-when-small{
        display: none;
    }
    #animate-button{
        font-size:15px;
    }
    .user-input-row{
        font-size:15px;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    .content{
        width:95%;
    }
    .main {
        background-repeat: no-repeat;
        background-image: url(./assets/ipad.jpg);
    }
  
}
@media screen and (width: 1024px) and (height: 1366px) {
    .content{
        width:95%;
    }
    .main {
        background-repeat: no-repeat;
        background-image: url(./assets/ipad.jpg);
    }
}
