.content {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.buttons-controller {
    margin-top: -5rem;
}

.pone-container {
    display: flex;
    height: 60%;
    width: 60%;
    background-color: white;
    border-radius: 2.2rem;
    position: relative;
}

.pone-container>#glCanvas {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
}

.pone-container>#text {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 69420;
}

.user-input {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-input-row {
    color: #550a46;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#plain-text-expression {
    margin-top: 1rem;
    background-color: #ffffff;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
    text-align: center;
    transition: opacity 0.2s linear;
    border: 1px solid #707070;
    border-bottom: 2px solid #93137A;
    border-right: 2px solid #93137A;
}

#plain-text-expression:hover {
    background-color: rgb(235, 233, 236);
}

#plain-text-expression:focus {
    background-color: #ffffff;
    outline: none;
}

#animate-button {
    font-size: 18px;
    padding: 0.4rem 4rem 0.4rem 4rem;
    border-radius: 1rem;
    transition: opacity 0.2s linear;
    background-color: #550a46;
    border: none;
    color: #ffffff;
}

#animate-button:focus {
    outline: none;
}

#animate-button:hover {
    opacity: .8;
}

.animate-button-color {
    margin-right: 1rem;
    font-size: 16px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 1rem;
    transition: opacity 0.2s linear;
    background-color: #550a46;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.animate-button-color:focus {
    outline: none;
}

.animate-button-color:hover {
    opacity: .8;
}

#upload-file {
    display: none;
}

#upload-file+label {
    font-weight: bold;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

#upload-file+label:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .main {
        background-repeat: no-repeat;
        background-image: url(./assets/phone.jpg);
    }
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .pone-container {
        width: 90%;
        height: 50%;
        margin-top: 10%;
    }
    .user-input {
        height: 5vh;
        margin-bottom: 40px;
    }
    .hide-when-small {
        display: none;
    }
    #animate-button {
        font-size: 15px;
        padding: 0.4rem 2rem 0.4rem 2rem;
    }
    .user-input-row {
        font-size: 15px;
        margin-top: 10px;
    }
    #plain-text-expression {
        height: 5vh;
    }
    .animate-button-color {
        padding: 0.3rem 2rem 0.3rem 2rem;
        margin-top: 20px;
    }
    .buttons-controller {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
    .buttons-controller {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .content {
        margin-left: 100px;
        margin-top: 30px;
    }
    #plain-text-expression {
        padding: 0.2rem 1rem 0.2rem 1rem;
        font-size: 13px;
    }
    .animate-button-color {
        padding: 0.2rem 1rem 0.2rem 1rem;
        font-size: 15px;
        margin-top: 40px;
    }
    #animate-button {
        padding: 0.2rem 2rem 0.2rem 2rem;
        font-size: 15px;
    }
    .user-input-row {
        font-size: 15px;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    .content {
        width: 95%;
    }
    .main {
        background-repeat: no-repeat;
        background-image: url(./assets/ipad.jpg);
    }
}

@media screen and (width: 1024px) and (height: 1366px) {
    .content {
        width: 95%;
    }
    .main {
        background-repeat: no-repeat;
        background-image: url(./assets/ipad.jpg);
    }
}