.comment-section {
    width: 30vw;
    height: 70vh;
    /*  display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;*/
    margin-bottom: 60px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.comment-section::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.comment-section::-webkit-scrollbar-track {
    background: #f8f5f5;
    /* color of the tracking area */
}

.comment-section::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid lightgrey;
    /* creates padding around scroll thumb */
}

​ h1 {
    margin-bottom: 40px;
}

.comm {
    width: 100%;
    height: 10%;
    background-color: #EFE5E5;
    border-radius: 15px;
    margin-top: 10%;
}

input {
    width: 40%;
    height: 10%;
    background-color: #EFE5E5;
    border: 1px solid grey;
    color: black;
    font-size: 20px;
    border-radius: 15px;
}

::placeholder {
    color: black;
}

@media only screen and (max-width: 600px) {
    .comm {
        width: 90%;
    }
    input {
        width: 90%;
    }
    .main {
        background-repeat: no-repeat;
        background-image: url(./phone.jpg);
        min-height: 100vh;
    }
    .comment-section {
        margin-bottom: 90px;
    }
    h1 {
        font-size: 20px;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    .comm {
        width: 90%;
    }
    input {
        width: 90%;
    }
    .main {
        background-repeat: no-repeat;
        background-image: url(./ipad.jpg);
        min-height: 100vh;
    }
    .comment-section {
        margin-bottom: 120px;
    }
}

@media screen and (width: 1024px) and (height: 1366px) {
    .comm {
        width: 90%;
    }
    input {
        width: 90%;
    }
    .main {
        background-repeat: no-repeat;
        background-image: url(./ipad.jpg);
        min-height: 100vh;
    }
    .comment-section {
        margin-bottom: 120px;
    }
}