.content {
    width: 60vw;
    height: 80vh;
    background-color: #EFE5E5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgb(182, 157, 182) 0 1px 1px;
}

.exercise-area {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2vh;
}

.answer {
    display: flex;
    align-items: center;
}

.answerText {
    width: 50vw;
    height: 40px;
    background-color: #F8F5F5;
    border-radius: 15px;
    border: solid #E6D7D7 1px;
    color: black;
}

.answerText:hover {
    background-color: rgb(226, 221, 221);
}

.buttons-area {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.commentGenerate {
    width: 100%;
    height: 100%;
    background-color: #EFE5E5;
    font-size: medium;
    border: none;
    border: solid white 1px;
}

.commentGenerate:hover {
    background-color: rgb(226, 221, 221);
}

.comments-area {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    color: black;
}

.exercise-area p {
    font-size: 20px;
    margin-left: 10px;
}

.inputComm {
    width: 50vw;
    height: 40px;
    background-color: #F8F5F5;
    border-radius: 15px;
    border: none;
    margin-top: 30px;
    border: #E6D7D7 1px solid;
}

.inputComm:hover {
    background-color: rgb(226, 221, 221);
}

.btn {
    border-radius: 50px;
    height: 40px;
    width: 60px;
    background-color: #93137A;
    color: white;
    border: #E6D7D7 1px solid;
}

.btn1 {
    border-radius: 50px;
    border: #E6D7D7 1px solid;
    margin-top: 30px;
    height: 40px;
    width: 60px;
    background-color: #93137A;
    color: white;
}

.btn:hover {
    background-color: rgb(107, 15, 89);
}

.btn1:hover {
    background-color: rgb(107, 15, 89);
}


/*comments section*/

.comment-section {
    width: 100%;
    height: 30%;
    overflow-y: scroll;
    display: none;
}

.comm {
    width: 80%;
    height: 20%;
    margin-bottom: 8px;
    margin-left: 10px;
}

.comm span {
    font-weight: bold;
}

.comment-section::-webkit-scrollbar {
    width: 5px;
}

.comment-section::-webkit-scrollbar-track {
    background: #f8f5f5;
}

.comment-section::-webkit-scrollbar-thumb {
    background-color: #f8f5f5;
    border-radius: 20px;
    border: 3px solid #f8f5f5;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .main {
        min-height: 100vh;
        background-repeat: no-repeat;
        background-image: url(./assets/phone.jpg);
    }
    .buttons-area {
        height: 15%;
    }
    .commentGenerate {
        font-size: 12px;
    }
    .content {
        width: 85vw;
        height: 60vh;
        position: absolute;
        bottom: 20vh;
        margin-bottom: 50px;
    }
    .exercise-area p {
        font-size: 14px;
        margin-left: 20px;
    }
    .answerText {
        margin-left: 20px;
        height: 5vh;
    }
    .comment-section {
        font-size: 12px;
        margin-left: 40px;
    }
    .font {
        font-size: 15px;
        margin-left: 20px;
    }
    .btn {
        height: 5vh;
    }
    .inputComm {
        height: 5vh;
    }
    .btn1 {
        height: 5vh;
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .content {
        width: 80%;
        height: 80vh;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
    .exercise-area p {
        font-size: 14px;
        margin-left: 45px;
    }
    font {
        margin-left: 45px;
    }
    .answerText {
        height: 9vh;
        margin-left: 40px;
    }
    .btn {
        height: 9vh;
        margin-right: 9px;
    }
    .inputComm {
        height: 9vh;
    }
    .btn1 {
        height: 9vh;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    .content {
        width: 80%;
        height: 50vh;
        margin-top: 20%;
    }
    font {
        font-size: 20px;
        margin-left: 55px;
    }
    .main {
        background-repeat: no-repeat;
        background-image: url(./assets/ipad.jpg);
        min-height: 100vh;
    }
    .answerText {
        margin-left: 50px;
    }
    .exercise-area p {
        margin-left: 55px;
    }
}

@media screen and (width: 1024px) and (height: 1366px) {
    .content {
        width: 80%;
        height: 50vh;
        margin-top: 20%;
    }
    .main {
        background-repeat: no-repeat;
        background-image: url(./assets/ipad.jpg);
        min-height: 100vh;
    }
    .answerText {
        margin-left: 70px;
    }
    font {
        margin-left: 80px;
        font-size: 25px;
    }
    .exercise-area p {
        margin-left: 80px;
    }
}