.content {
    width: 60vw;
    height: 80vh;
    background-color: #EFE5E5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgb(182, 157, 182) 0 1px 1px;
}

.exercise-area {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2vh;
}
.exercise-area p {
    font-size: 20px;
    margin-left: 10px;
}
.answer {
    display: flex;
    align-items: center;
}

.answerText {
    width: 50vw;
    height: 40px;
    background-color: #F8F5F5;
    border-radius: 15px;
    border: solid #E6D7D7 1px;
    color: black;
}

.answerText:hover {
    background-color: rgb(226, 221, 221);
}

.buttons-area {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.commentGenerate {
    width: 100%;
    height: 100%;
    background-color: #EFE5E5;
    font-size: medium;
    border: solid white 1px;
    outline: none;

}

.commentGenerate:hover {
    background-color: rgb(226, 221, 221);
}

.comments-area {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    color: black;
}

.inputComm {
    width: 50vw;
    height: 40px;
    background-color: #F8F5F5;
    border-radius: 15px;
    border: none;
    margin-top: 30px;
    border: #E6D7D7 1px solid;
}

.inputComm:hover {
    background-color: rgb(226, 221, 221);
}

.btn {
    border-radius: 50px;
    height: 40px;
    width: 60px;
    background-color: #93137A;
    color: white;
    border: #E6D7D7 1px solid;
    outline: none;

}

.btn1 {
    border-radius: 50px;
    border: #E6D7D7 1px solid;
    margin-top: 30px;
    height: 40px;
    width: 60px;
    background-color: #93137A;
    color: white;
    outline: none;

}

.btn:hover {
    background-color: rgb(107, 15, 89);
}

.btn1:hover {
    background-color: rgb(107, 15, 89);
}


/*comments section*/

.comment-section {
    width: 100%;
    height: 30%;
    overflow-y: scroll;
    display: none;
    margin-left: 100px;
}

.comm {
    width: 80%;
    height: 20%;
    margin-bottom: 8px;
    margin-left: 10px;
}

.comm span {
    font-weight: bold;
}

.comment-section::-webkit-scrollbar {
    width: 5px;
}

.comment-section::-webkit-scrollbar-track {
    background: #f8f5f5;
}

.comment-section::-webkit-scrollbar-thumb {
    background-color: #f8f5f5;
    border-radius: 20px;
    border: 3px solid #f8f5f5;
}

.error span {
    color: red;
    font-size: 12px;
    margin-left: 80%;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .main {
        min-height: 100vh;
        background-repeat: no-repeat;
        background-image: url(./assets/phone.jpg);
    }
    .commentGenerate {
        background-color: #f8f5f5;
        border: 1px solid #93137A;

    }
    
    .content {
        width: 100vw;
        height: 70vh;
        background-color: #f8f5f5;
        box-shadow: #f8f5f5 0 1px 1px;
        
    }
    .answerText {
        height: 5vh;
        width: 70vw;
        border: 1px solid #707070;
        border-bottom: 2px solid #93137A;
        border-right: 2px solid #93137A;
        margin-left: 5px;
        outline: none;
    }
   
    .inputComm {
        height: 5vh;
        width: 70vw;
        border: 1px solid #707070;
        border-bottom: 2px solid #93137A;
        border-right: 2px solid #93137A;
        outline: none;

    }
    .btn{
        height: 5vh;
    }
    .btn1{
        height: 5vh;
    }
   
    .exercise-area h1{
        font-size: 17px;
        margin-left:10px;
    }
    .exercise-area p{
        font-size: 15px;
    }
   
    .comment-section{
        margin-left: 50px;
    }

    .error span {
        margin-left: 50%;
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .content {
        width: 80%;
        height: 85vh;
    }
    .exercise-area p {
        font-size: 14px;
        margin-left: 40px;
    }
    .exercise-area h1{
        margin-left: 40px;
    }
    .answerText {
        height: 9vh;
        margin-left: 40px;
    }
    .btn {
        height: 9vh;
    }
    .inputComm {
        height: 9vh;
    }
    .comments-area{
        margin-bottom: -30px;
    }
    .btn1 {
        height: 9vh;
    }
    .comment-section{
        margin-left: 140px;
    }
   
}

@media screen and (width: 768px) and (height: 1024px) {
    .content {
        width: 90%;
        height: 60vh;
        margin-top: 10%;
    }

    .main {
        background-repeat: no-repeat;
        background-image: url(./assets/ipad.jpg);
        min-height: 100vh;
    }
    .answerText {
        margin-left: 90px;
    }
    .exercise-area p {
        margin-left: 40px;
    }
    .exercise-area h1{
        font-size: 20px;
        margin-left: 90px;
    }
    .comment-section{
        margin-left: 35%;
    }
}

@media screen and (width: 1024px) and (height: 1366px) {
    .content {
        width: 80%;
        height: 50vh;
        margin-top: 20%;
    }
    .main {
        background-repeat: no-repeat;
        background-image: url(./assets/ipad.jpg);
        min-height: 100vh;
    }
    .answerText {
        margin-left: 70px;
    }
    .exercise-area h1 {
        margin-left: 80px;
        font-size: 20px;
    }
    .exercise-area p {
        margin-left: 80px;
    }
    .comment-section{
        margin-left: 35%;
    }
}