.main-content {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-content__text {
    width: 50%;
    height: 25%;
    background-color: #f8f5f5;
    border-right: 3px solid #B03B99;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-content__text p {
    width: 70%;
}

.main-content__text:nth-child(1) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main-content__text:nth-child(3) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 3px solid #B03B99;
}

.fa-graduation-cap,
.fa-pencil,
.fa-check-circle {
    font-size: 70px;
    color: #550A46;
    cursor: pointer;
}

@media only screen and (max-width: 800px) and (orientation:portrait) {
    .main {
        width: 100%;
        min-height: 100vh;
        background-image: url(./assets/iphone678.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: #f8f5f5;
    }
    .main-content__text {
        width: 90%;
        background-color: #F8F5F5;
    }
    .main-content {
        padding-bottom: 15%;
        font-size: 13px;
    }
    .fa-graduation-cap,
    .fa-pencil,
    .fa-check-circle {
        font-size: 50px;
    }
    .main-content__text {
        border: none;
    }
    .main-content__text:nth-child(1) {
        border-bottom: none;
    }
    .main-content__text:nth-child(3) {
        border-top: none;
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .main-content__text {
        width: 80%;
        background-color: #F8F5F5;
    }
    .main-content {
        padding-bottom: 5%;
        font-size: 13px;
    }
    .fa-graduation-cap,
    .fa-pencil,
    .fa-check-circle {
        font-size: 50px;
    }
    .main-content__text {
        border: none;
    }
    .main-content__text:nth-child(1) {
        border-bottom: none;
    }
    .main-content__text:nth-child(3) {
        border-top: none;
    }
}