.content {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.exercise-requirement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
}

.comments-exercise {
    width: 50vw;
    height: 50vh;
    overflow-y: scroll;
}

form input {
    outline: none;
}

.comments-exercise div {
    margin-bottom: 5px;
    height: auto;
}

.insert-comment span {
    color: red;
    margin-left: 70%;
}

.inputComment {
    width: 45vw;
    height: 40px;
    background-color: rgb(241, 224, 224);
    border-radius: 15px;
    border: #E6D7D7 1px solid;
    outline: none;
}

.inputComment:hover {
    background-color: rgb(226, 221, 221);
}

i {
    cursor: pointer;
}

.disable-put-comment {
    display: none;
}

.disabled {
    color: lightgray;
}

.btn {
    border-radius: 50px;
    height: 40px;
    width: 60px;
    background-color: #93137A;
    color: white;
    border: #E6D7D7 1px solid;
    outline: none;
}

.comments-exercise::-webkit-scrollbar {
    width: 5px;
}

.comments-exercise::-webkit-scrollbar-track {
    background: #f8f5f5;
}

.comments-exercise::-webkit-scrollbar-thumb {
    background-color: #f8f5f5;
    border-radius: 20px;
    border: 3px solid #f8f5f5;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .main {
        min-height: 100vh;
        background-repeat: no-repeat;
        background-image: url(./assets/phone.jpg);
    }
    .exercise-requirement {
        width: 90vw;
        font-size: 10px;
    }
    .comments-exercise {
        width: 90vw;
        height: 50vh;
    }
    .insert-comment {
        width: 90vw;
    }
    .inputComment {
        width: 70vw;
    }
    .insert-comment span {
        margin-left: 0;
        font-size: 13px;
    }
    .comments-exercise::-webkit-scrollbar-thumb {
        border: 3px solid #f8f5f5;
    }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
    .inputComment {
        width: 60vw;
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .exercise-requirement {
        font-size: 10px;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    .main {
        background-repeat: no-repeat;
        background-image: url(./assets/ipad.jpg);
    }
}

@media screen and (width: 1024px) and (height: 1366px) {
    .main {
        background-repeat: no-repeat;
        background-image: url(./assets/ipad.jpg);
    }
}