    * {
        margin: 0px;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    }
    
    .main-content {
        width: 100%;
        min-height: 100vh;
        background-image: url(./assets/back2.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: #f8f5f5;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .form-container {
        width: 35%;
        height: 80vh;
        margin-left: 50%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    
    .link-list {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-right: 10%;
    }
    
    .link-list a {
        font-size: 40px;
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        color: #C4C0C0;
        font-weight: bolder;
    }
    
    #sign-up-link {
        color: #93137A;
    }
    
    form {
        height: 60%;
        width: 80%;
        position: relative;
    }
    
    input {
        width: 100%;
        height: 6.5vh;
        border-radius: 15px;
        border: 1px solid #707070;
        border-bottom: 2px solid #93137A;
        border-right: 2px solid #93137A;
        background-color: white;
        margin-top: 8%;
        padding-left: 40px;
        font-size: 15px;
    }
    
    #username {
        margin-top: 0%;
    }
    
    #password {
        margin-bottom: 5%;
    }
    
    span>a,
    span {
        color: #93137A;
        font-size: 21px;
    }
    
    #submit-button {
        margin-top: 10%;
        background-color: #550A46;
        color: white;
        font-size: 20px;
        width: 70%;
        padding: 0px;
    }
    
    .input-container i {
        position: absolute;
    }
    
    .fa-user-circle-o {
        top: 18%;
    }
    
    .fa-envelope {
        top: 50%;
    }
    
    .fa-unlock-alt {
        top: 41%;
    }
    
    .input-container {
        width: 100%;
        margin-bottom: 10px;
        position: relative;
    }
    
    .icon {
        min-width: 50px;
        text-align: center;
        z-index: 1;
        padding: 10px;
    }
    
    .submit-area {
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    #error span {
        color: red;
    }
    
    .input-container:nth-child(3) {
        margin-bottom: 0px;
    }
    
    @media only screen and (max-width: 900px) and (orientation: portrait) {
        .main-content {
            background-image: url(./assets/iphone678plus.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-color: #f8f5f5;
        }
        .form-container {
            justify-content: center;
            align-items: center;
            margin-left: 0px;
            width: 100%;
            margin-bottom: 35%;
        }
        .link-list a {
            font-size: 30px;
        }
        .link-list {
            margin-bottom: 30px;
        }
        .input-field {
            height: 7vh;
        }
        #submit-button {
            height: 6vh;
            width: 60%;
            font-size: 18px;
            border-radius: 30px;
        }
        .icon {
            padding: 15px;
        }
        form span,
        form a {
            font-size: 15px;
        }
    }
    
    @media only screen and (max-width: 900px) and (orientation: landscape) {
        .link-list a {
            font-size: 20px;
        }
        .input-field {
            height: 9vh;
            width: 100%;
        }
        #submit-button {
            height: 7vh;
            width: 60%;
            font-size: 15px;
            border-radius: 30px;
        }
        .icon {
            padding: 15px;
        }
        form {
            width: 90%;
        }
        .form-container {
            justify-content: space-evenly;
        }
        form:nth-child(1) {
            margin-top: 0px;
        }
        .submit-area span,
        .submit-area a {
            font-size: 13px;
        }
        .main-content {
            align-items: flex-start;
        }
    }