* {
    box-sizing: border-box;
}

body {
    font-family: "Libre Baskerville", Times, serif;
    background: #f7f7f7;
    color: #282828;
}

ol li span {
    color: #93137A;
}

header {
    border-top: 8px solid #93137A;
    border-bottom: 2px solid #BDD5E9;
    box-shadow: 2px 0 4px #BCBCBC;
    margin-bottom: 64px;
    background: #fff;
}

header p.title,
header p.subtitle {
    max-width: 900px;
    padding: 0 10px;
    font-variant: small-caps;
    margin: 0 auto;
}

header p.title {
    font-size: 32px;
    margin-top: 16px;
}

header p.subtitle {
    margin-bottom: 8px;
}

body>section,
article {
    margin: 0 auto 5em auto;
    max-width: 900px;
}


@media screen {
    article {
        /* the padding is 116px 116px 80px 116px, from which we remove the border */
        padding: 88px 88px 72px 108px;
        background: #fff;
        border-top: 28px solid transparent;
        border-right: 28px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 4px solid transparent;
        border-image: url('card-bg.png') 28 28 8 4 repeat;
    }
}

article {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
}

p {
    /*  text-align: justify; */
    -moz-hyphens: auto;
    hyphens: auto;
    widows: 2;
    orphans: 2;
    margin-top: 0;
    margin-bottom: 1em;
}

h1,
h2,
h3 {
    font-variant: small-caps;
    /*  text-align: center; */
    font-weight: 700;
    break-after: avoid;
    margin-bottom: 1em;
}

h1 {
    padding-top: 16px;
    padding-bottom: 16px;
    letter-spacing: .75px;
    font-size: 24px;
    line-height: 32px;
}

h2 {
    padding-top: 16px;
    padding-bottom: 0;
    letter-spacing: .75px;
    font-size: 20px;
}


h3 {
    padding-top: 16px;
    padding-bottom: 0;
    letter-spacing: .5px;
    font-size: 16px;
}

a {
    color: #93137A;
}

a,
 :link,
 :visited {
    text-decoration: none;
    color: #93137A;
}

a:active {
    color: #93137A;
}


pre,
code,
a[property="schema:citation"] {
    -moz-hyphens: none;
    hyphens: none;
}


code.language-html {
    color: inherit;
}

pre code {
    color: inherit;
    border: none;
    padding: 0;
    background: none;
}

footer {
    font-size: 13px;
    background: #93137A;
    bottom: 0;
    width: 100%;
}

footer p {
    max-width: 900px;
    padding: 14px 10px;
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;
}


section {
    margin-bottom: 6em;
}

p+section {
    margin-top: 2em;
}

ul+p {
    margin-top: 1em;
}

code {
    overflow: visible;
    white-space: pre-wrap;
}

pre {
    border: solid 1px #DFDFDF;
    border-left: solid #93137A 10px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-left: 1em;
}

meta {
    display: none;
}

article h1+section ol::before {
    display: block;
    float: left;
    width: 150px;
    font-variant: small-caps;
    color: #9E9E9E;
}

article h1+section ol:first-child::before {
    content: 'Authors';
}

article h1+section li {
    display: inline;
}

article h1+section li+li::after {
    content: normal;
}

article h1+section ol+ol li::after {
    content: normal;
}

article h1+section a[property="sa:roleAffiliation"] {
    font-size: 12px;
    vertical-align: super;
}

section[typeof='sa:Abstract']>section {
    margin: 0;
}

section[typeof='sa:Abstract']>section>h3 {
    display: inline;
    font-variant: small-caps;
    float: left;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 16px 8px 0 0;
    color: #9E9E9E
}

aside p:last-child {
    margin-bottom: 0;
}

/* wide screen */

@media screen and (min-width: 1900px) {
    article {
        max-width: 1200px;
        font-size: 16px;
        line-height: 30px;
    }
    header p.title,
    header p.subtitle,
    footer p {
        max-width: 1200px;
    }
    footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 979px) {
    article {
        width: 100%;
        padding: 115px 116px 79px 116px;
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        border-left: none;
        border-right: none;
    }
}

@media screen and (max-width: 799px) {
    article {
        padding: 57px 58px 39px 58px;
    }
}

@media screen and (max-width: 399px) {
    article {
        padding: 28px 29px 19px 29px;
    }
    footer {
        font-size: 10px;
    }
    article>section:first-of-type ol::before {
        float: none;
        width: auto;
        margin-left: 0;
    }
    article>section:first-of-type ol {
        margin-left: 0;
        padding: 0;
    }
}

@media print {
    header {
        display: none;
    }
    footer {
        position: absolute;
    }
    article {
        border: none;
    }
}